<div id="app">
  <div id="menubar">
    <app-menubar></app-menubar>
  </div>
  <div id="toolbar-top-container">
    <app-toolbar-top></app-toolbar-top>
  </div>
  <div id="editor-container">
    <div id="toolbar-left-container">
      <app-toolbar-left></app-toolbar-left>
    </div>
    <div id="editor">
      <app-editor></app-editor>
    </div>
    <div id="configuration-panel-container">
      <app-configuration-panel></app-configuration-panel>
    </div>
  </div>
  <div id="info-bar">
    <app-infobar></app-infobar>
  </div>
</div>
